<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nextshape_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{0,252},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{66,252},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{132,252},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{0,336},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{66,336},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{132,336},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{0,420},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{66,420},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{132,420},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{66,0},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{132,0},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{0,84},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{66,84},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{132,84},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{0,168},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{66,168},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nextshape_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,84}</string>
                <key>spriteSourceSize</key>
                <string>{66,84}</string>
                <key>textureRect</key>
                <string>{{132,168},{66,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nextshapesheet.png</string>
            <key>size</key>
            <string>{198,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:341884203f1880ac5b86db4b4e763f70:ff4c9622f2326052204739a522425dc4:8539d8f015ad35cc5bb8b73c40c1652f$</string>
            <key>textureFileName</key>
            <string>nextshapesheet.png</string>
        </dict>
    </dict>
</plist>
